<ng-container *ngIf="currentUser$ | async as user">
    <h1>{{user.displayName}} Profile Settings</h1>

    <div class="content">
        <h3 class="info">You are {{admin$ | async}}.</h3>
        <ng-container *ngIf="selectedGroups$ | async as selected">
            <h2>Select your groups</h2>
            <div class="groups-panel">
                <app-on-off-pending-button *ngFor="let group of groups$ | async"
                    [value]="selected[group.id]"
                    (change)="toggleSelection(group.id, $event)"
                    >
                    <mat-icon>group</mat-icon>
                    <h3>{{group.displayName}}</h3>
                </app-on-off-pending-button>
            </div>
            <h3 class="warn" *ngIf="!(hasGroups$ | async)">You must join at least one group</h3>
        </ng-container>    
    </div>
</ng-container>