:host {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 12px;
  display: flex;
  flex-direction: column;

  h2, h3 {
    text-align: center;
    margin: auto;
    color: var(--p400);
    font-size: 3em;
    margin-bottom: 10px;

    &.info {
        align-self: stretch;
        margin: unset;
        margin-bottom: 8px;
    }
}

h3 {
    font-size: 2em;
}

  p {
    margin: auto;
    padding: 8px;
    max-width: 450px;
    font-size: 1.5em;
    line-height: 1.6em;
    margin-bottom: 10px;
  }
  mat-icon {
    width: auto;
    height: auto;
    color: var(--p500);
    font-size: 1.4em;
    vertical-align: bottom;
  }

  .groups-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    user-select: none;

    mat-icon {
      color: var(--p500);
      font-size: 40px;
      align-self: center;
    }

    h4 {
      margin: 4px;
    }
  }
}
