rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userEmail} {
      allow read: if request.auth.token.email == userEmail;
    }
    match /groups/{document=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /matches/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /stages/{document=**} {
      allow read: if true;
      allow write: if false;
    }    
  }
}