:host {
    display: grid;
}

.root {
    display: flex;
    flex-direction: row;
    background-color: var(--p100);  
}

a {
    color: var(--p900);
    padding: 6px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

a.active {
    background-color: var(--p300);
}

