@use '~@angular/material' as mat;
@import 'material-common';

$plt-primary: mat.define-palette($mat-blue);
$plt-accent: mat.define-palette($mat-orange, A200, A100, A400);
$plt-warn: mat.define-palette($mat-red);

$theme: mat.define-light-theme((
  color: (
    primary: $plt-primary, 
    accent: $plt-accent, 
    warn: $plt-warn
  )));  

@include material-common($plt-primary, $plt-accent, $plt-warn, $theme);



div {
  display: grid;
}

h1 {
  font-size: 60px;
  background-color: var(--p100);
  padding: 6px;
}

.warn {
  background-color: var(--w100);
  color: var(--w800);
  padding: 6px;
}

.firebase-emulator-warning {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
}

mat-icon {
  width: auto!important;
  height: auto!important;
  margin: 4px;
}