img.share {
    object-fit: contain;
    height: 32px;
    position: relative;
    top: 8px;
}

img.add-to-home {
    object-fit: contain;
    height: 32px;
    position: relative;
    top: 10px;
    margin-left: 10px;

}