<mat-card *ngIf="score$ | async as score">
  <mat-card-title
    >{{ score.stage }}:
    {{ score.date | date: "MMMM dd, HH:mm" }}</mat-card-title
  >
  <mat-card-content>
    <div class="match-details">
      <app-country [name]="score.home"></app-country>
      <div class="match-final-score">
        <div>{{ score.points }} points</div>
        <div class="final-score">
          {{ score.homeScore }} : {{ score.awayScore }}
        </div>
        <div class="details">
          {{ score.correctGuess }}
        </div>
      </div>
      <app-country [name]="score.away"></app-country>
    </div>
    <div class="statistics" *ngIf="statistics$ | async as statistics">
      <div class="header">
        Overall <span class="value">{{statistics.sum}}</span> Guesses
      </div>
      <div class="graph" [style.grid-template-columns]="statistics.gridTemplate">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="labels">
        <div>{{score.home}}: {{statistics.home | percent}}</div>
        <div>Tie: {{statistics.tie | percent}}</div>
        <div [style.flex-grow]="statistics.away">{{score.away}}: {{statistics.away | percent}}</div>
      </div>
    </div>

    <ng-container *ngIf="canClose$ | async">
      <button mat-button color="primary" (click)="forceExtend$.next(false)">
        Close details
      </button>
    </ng-container>
    <ng-container *ngIf="!(extended$ | async)">
      <div class="summary" *ngIf="summary$ | async as summary">
        <div class="group-distribution">
          <div class="item" [class.correct]="summary.correct === 'home'">
            <div class="value">
              <mat-icon *ngIf="summary.correct === 'home'">check</mat-icon>
              {{ summary.home }}
            </div>
            <div class="label">Home</div>
          </div>
          <div class="item" [class.correct]="summary.correct === 'tie'">
            <div class="value">
              <mat-icon *ngIf="summary.correct === 'tie'">check</mat-icon
              >{{ summary.tie }}
              </div>
            <div class="label">Tie</div>
          </div>
          <div class="item" [class.correct]="summary.correct === 'away'">
            <div class="value">
              <mat-icon *ngIf="summary.correct === 'away'">check</mat-icon
              >{{ summary.away }}
            </div>
            <div class="label">Away</div>
          </div>
        </div>
        <ng-container *ngIf="summary.correct && summary.correctCount !== null">
          <div class="bottom-line">
            <ng-container *ngIf="summary.correctCount === 1">
              <mat-icon color="accent">new_releases</mat-icon> Solo guesser
              earned
              <span class="points">{{
                summary.scorePerGuesser | number: "0.0-1"
              }}</span>
              Points
            </ng-container>
            <ng-container *ngIf="summary.correctCount > 1">
              <mat-icon color="primary">check</mat-icon>
              <span class="points">{{ summary.correctCount }}</span> Guessers
              earned
              <span class="points">{{
                summary.scorePerGuesser | number: "0.0-1"
              }}</span>
              Points each.
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="!(extended$ | async)">
      <button mat-button color="primary" (click)="forceExtend$.next(true)">
        Click for details
      </button>
    </ng-container>
    <ng-container *ngIf="extended$ | async">
      <div class="user-guesses">
        <div class="user" *ngFor="let userGuess of score.userScores">
          <div class="user-name">{{ userGuess.displayName }}</div>
          <div
            class="user-guess"
            [class.correct]="score.hasScore && userGuess.isCorrect"
            [class.wrong]="score.hasScore && !userGuess.isCorrect"
          >
            <ng-container *ngIf="score.hasScore">
              <mat-icon *ngIf="userGuess.isCorrect">check</mat-icon>
              <mat-icon *ngIf="!userGuess.isCorrect">clear</mat-icon>
            </ng-container>
            {{ userGuess.guess ?? "---" }}

            <ng-container *ngIf="userGuess.isCorrect">
              ({{ userGuess.points | number: "1.0-1" }} points
              <ng-container *ngIf="userGuess.isSolo">
                <mat-icon color="accent">new_releases</mat-icon> </ng-container
              >)
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
