mat-card {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 0px;
  padding-bottom: 10px;
  max-width: 450px;

  mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p700);
    color: var(--pc700);
    border-radius: 4px 4px 0px 0px;
    padding: 8px;
    border-bottom: 1px solid var(--p200);
    font-size: 18px;
  } // mat-card-title

  mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .match-details {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      app-country {
        width: 110px;
      }

      .match-final-score {
        font-size: 12px;
        margin: 8px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > * {
          margin: 4px;
        }

        .final-score {
          font-size: 32px;
        }

        .details {
        }
      }
    } // .match-details

    .statistics {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      margin: 8px 8px 0px 8px;
      padding: 8px;

      .header {
        align-self: center;
        color: var(--s600);
        display: block;

        .value {
          font-weight: bold;
        }
      }// .header

      .graph {
        display: grid;

        div {
          height: 6px;
          margin: 0px 2px;
          min-width: 8px;
          border-radius: 3px;

          &:nth-child(1) {
            margin-left: 0px;
            background-color: var(--s400);
          }

          &:nth-child(2) {
            background-color: var(--s600);
          }
          &:nth-child(3) {
            background-color: var(--s800);
            margin-right: 0px;
          }
        }
      } // .graph

      .labels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div {

          &:nth-child(1) {
            color: var(--s400);
            text-align: left;
          }
          &:nth-child(2) {
            color: var(--s600);
            text-align: center;
          }
          &:nth-child(3) {
            color: var(--s800);
            text-align: right;
          }
        }
      } // .labels

    } // .statistics

    .summary {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      align-self: stretch;
      margin: 8px;
      padding: 2px;

      &>div {
        border-bottom: 1px solid var(--p100);

        &:last-child {
          border-color: transparent;
        }
      }

      .group-distribution {
        display: flex;
        flex-direction: row;
        border-top: 1px solid var(--p100);

        .item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2px 0px;
          border-right: 1px solid var(--p100);
          background-color: var(--p50);
          font-size: 18px;

          &:first-child {
            border-left: 1px solid var(--p100);
          }

          &.correct {
            color: var(--p500);
            background-color: var(--p100);
          }

          .value {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            line-height: 1;

            mat-icon {
              font-size: 16px;
              position: absolute;
              top: -2px;
              left: -25px;
            }
          }

          .label {
            font-size: 0.7em;
            line-height: 1;
          }
        }
      } // .group-distribution

      .bottom-line {
        display: block;
        text-align: center;

        mat-icon {
          position: relative;
          top: 6px;
          margin: 0;
        }

        .points {
          color: var(--p500);
          font-weight: bold;
        }

      } // .bottom-line

    } // .summary

    .user-guesses {
      align-self: center;
      font-size: 16px;
      min-width: 240px;

      .user {
        display: flex;
        flex-direction: row;
        margin: 4px;
        padding: 4px;
        border-top: 1px solid var(--p50);

        .user-name {
          width: 120px;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 16px;
        }

        .user-guess {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 4px;
        }

        .user-guess.correct {
          color: var(--p400);
        }

        .user-guess.wrong {
          color: var(--w400);
        }
      }
    } // .user-guesses
  } // mat-card-content
} // mat-card
