:host {
    mat-card {
        margin: 4px;
        cursor:pointer;
        display: grid;
        transition: 0.3s;
        position: relative;
        padding: var(--padding, 16px);
        border: 2px solid transparent;
    
        .content {
            display: flex;
            flex-direction: column;
        }
    
        &.on {
            background-color: var(--selected-bg, var(--p100));
            border: 2px solid var(--selected-border-color, var(--p200));
        }
        &.pending {
            opacity: 0.6;
        }
    
        app-spinner {
            position: absolute;
            bottom: var(--v-offset, -3px);
            transform: scale(0.5);
            left: calc(50% - 43px);
    
        }
    }
}
