:host {
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 450px;
    align-self: center;
    padding: 4px;

    h2, h3 {
        color: var(--p400);
        font-size: 2.4em;
    }
    
    h3 {
        font-size: 1.8em;
        border-bottom: 1px solid var(--p500);
        margin-bottom: 2px;
        margin-top: 8px;
    }
    
    h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    p, ul {
        font-size: 1.4em;
        line-height: 1.5em;
        margin-bottom: 10px;
    
        mat-icon {
            width: auto;
            height: auto;
            color: var(--p500);
            font-size: 1.5em;
            vertical-align: bottom;
        }
    }
    
    ul {
        margin-left: 20px;
    }
    
    table {
        font-size: 1.3em;
    
        tr {
            background-color: var(--p50);
            padding: 2px;
    
            &:nth-child(2n) {
                background-color: var(--p100);
            }        
        }
    
        td, th {
            padding: 8px 16px;
        }
        th {
            background-color: var(--p600);
            color: var(--pc600);
            font-weight: normal;
        }
    
    }
    
    
}

