<h1>Data Deletion</h1>
<p>
    Last updated: November 09, 2022
</p>
<p>We are not collecting information on you, but we do store your email, display name, and image URL. 
    As stated in our <a routerLink="privacy">Privacy Policy</a>, we do not share this data with anybody
</p>
<p>
    If you would like to have these records deleted from our database, please send us an email to: 
    <strong>kobihari@gmail.com</strong> 
    with the subject <strong>"Delete My Data"</strong> and write your email in the content of the message
</p>