.other-less {
  color: var(--w500);
}

mat-card {
  margin: 4px 8px;
  background-color: var(--p50);
  border: 1px solid var(--p100);
  max-width: 600px;

  mat-card-title {
    font-size: 1.3em;
    color: var(--p700);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--p200);

    .group-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
    }
  } // mat-card-title

  &.no-group {
    background-color: var(--w100);
    border: 1px solid var(--w200);

    mat-card-title {
      color: var(--w700);
      border-bottom: 1px solid var(--w300);
    }
  }
}

button {
  width: auto;
  height: auto;
  mat-icon {
    font-size: 20px;
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;

  .user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    &.recent {
      font-weight: bold;
    }
  }
}
