<h1>Super Admin</h1>
<ng-container *ngIf="vm$ | async as vm">
  <app-content>
    <h2>Counters</h2>
    <ul>
      <li><mat-icon>face</mat-icon>{{ vm.usersCount }} Users</li>
      <li><mat-icon>group</mat-icon>{{ vm.groups.length }} Groups</li>
    </ul>
    <h2>Group Details</h2>
    <mat-card *ngFor="let group of vm.groups">
      <mat-card-title>
        <div class="group-title">
          <mat-icon>group</mat-icon>{{ group.displayName }} ({{
            group.users.length
          }}
          members)
        </div>

        <div class="copy-link">
            <button mat-icon-button (click)="copyGroupLink(group.id)">
                <mat-icon>content_copy</mat-icon>
            </button>
        </div>
      </mat-card-title>
      <mat-card-content>
        <div class="user" *ngFor="let user of group.users">
          <mat-icon>face</mat-icon>
          <span>{{ user.displayName }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  </app-content>
</ng-container>
