@import '~@angular/material/theming';
@import '_material-variables';

@mixin material-common($plt_primary, $plt_accent, $plt_warn, $theme) {
    @include mat-core();
    @include mat.all-component-themes($theme);
    @include material-variables($plt-primary, $plt-accent, $plt-warn, $theme);

    html, body {
        width: 100%;
        height: 100%;
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        background: var(--b-background);
    }

    body { 
        display: grid;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;    
    }

}
