<mat-toolbar color="primary">
  <div class="title" routerLink="home">
    <mat-icon>emoji_events</mat-icon>
    <span>Bo - Gever!</span>
  </div>
  <div class="seperator"></div>
  <ng-container *ngIf="user$ | async as user">
    <img [src]="user.photoUrl" routerLink="profile">
    <div class="sign-out" (click)="logout()">(sign out...)</div>
  </ng-container>
</mat-toolbar>

<div [@slideInOut]="prepareRoute(outlet)" class="content">
  <div class="scroller">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>

<app-nav-bar *ngIf="!(hasRequired$ | async)"></app-nav-bar>
