mat-icon {
  font-size: 36px;
  color: var(--p400);
}

table {
  align-self: center;
  width: calc(100% - 16px);
  max-width: 600px;

  .mat-header-row {
    th.mat-header-cell {
      padding: 4px;

      &:first-of-type {
        padding-left: 24px;
      }
    }
  }

  .mat-row {
    .cell {
      margin: 4px;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid var(--p800);
        margin: 4px;
        object-fit: cover;
      }

      &.score {
        font-weight: 500;
      }
    }

    &.me {
      background: var(--p50);

      .cell {
        color: var(--p800);
        font-weight: 500;
      }
    }
  }
} // table

div.points {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 8px 0px 0px 0px;
  width: calc(100% - 16px);
  max-width: 600px;
  background-color: var(--p500);

  div {
    margin: 4px;
    &.num {
      display: flex;
      flex-direction: row;
      color: var(--pc500);
      font-size: 18px;

      .label {
        margin-left: 8px;
        font-size: 16px;
        color: var(--pc500);
        font-weight: normal;
      }
    }
  }
}
