:host {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.providers {
    display: flex;
    flex-direction: row;
}

img {
    height: 100px;
    cursor: pointer;
}