<h1>Matches Schedule and Results</h1>
<ng-container *ngIf="form$ | async as form">
    <div class="nav">
        <button mat-raised-button color="accent" (click)="save(form)" [disabled]="form.pristine">Save</button>
        <button mat-raised-button color="accent" (click)="triggerPublishResults()">Trigger Results Calculation</button>
    </div>
    <div class="table-relative">
        <div class="table-absolute">
            <mat-table [dataSource]="form.controls" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>Index</mat-header-cell>
                    <mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        {{group.value.id}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="stage">
                    <mat-header-cell *matHeaderCellDef>Stage</mat-header-cell>
                    <mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="stage">
                                <mat-option *ngFor="let stage of stages" [value]="stage">
                                    {{stage}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <input matInput type="datetime-local" formControlName="date" step="1800">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="home">
                    <mat-header-cell *matHeaderCellDef>Home</mat-header-cell>
                    <mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="home">
                                <mat-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="away">
                    <mat-header-cell *matHeaderCellDef>Away</mat-header-cell>
                    <mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="away">
                                <mat-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-component matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <div class="pair">
                            <input type="number" min="0" max="9" formControlName="homeScore">
                            :
                            <input type="number" min="0" max="9" formControlName="awayScore">
                        </div>
                    </mat-cell>
                </ng-component>

                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;"></mat-row>

            </mat-table>
        </div>
    </div>
</ng-container>