<ng-container *ngIf="form$ | async as form">
    <div class="nav">
        <button mat-raised-button color="accent" (click)="save(form)" [disabled]="form.pristine">Save</button>
        <button mat-raised-button color="accent" (click)="triggerPublishResults()">Trigger Results Calculation</button>
    </div>
    <div class="table-relative">
        <div class="table-absolute">
            <table mat-table [dataSource]="form.controls" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Index</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        {{group.value.id}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="stage">
                    <th mat-header-cell *matHeaderCellDef>Stage</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="stage">
                                <mat-option *ngFor="let stage of stages" [value]="stage">
                                    {{stage}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <input matInput type="datetime-local" formControlName="date" step="1800">
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="home">
                    <th mat-header-cell *matHeaderCellDef>Home</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="home">
                                <mat-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="away">
                    <th mat-header-cell *matHeaderCellDef>Away</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <mat-form-field appearance="legacy">
                            <mat-select formControlName="away">
                                <mat-option *ngFor="let country of countries" [value]="country">
                                    {{country}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <ng-component matColumnDef="score">
                    <th mat-header-cell *matHeaderCellDef>Score</th>
                    <td mat-cell *matCellDef="let group; let i = index" [formGroup]="group">
                        <div class="pair">
                            <input type="number" min="0" max="9" formControlName="homeScore">
                            :
                            <input type="number" min="0" max="9" formControlName="awayScore">
                        </div>
                    </td>
                </ng-component>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>

            </table>
        </div>
    </div>
</ng-container>