:host {
  display: grid;
  grid-template-rows: auto auto 1fr;
}

h1 {
  margin-bottom: 0px;
}

.nav {
  padding: 6px;
  display: flex;
  flex-direction: row;
}

.nav > button {
  margin: 4px;
}

.table-relative {
  position: relative;
  overflow-y: auto;

  .table-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

mat-card {
  width: 760px;
  display: flex;
  flex-direction: column;

  .row,
  .header-row {
    display: flex;
    height: 52px;
    flex-direction: row;
    border-bottom: 1px solid var(--f-divider);

    .column {
      padding: 8px;
      width: var(--column-width);
      flex-basis: var(--column-width);
      --field-width: calc(var(--column-width) - 30px);
      flex-grow: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:first-child {
        border-right: 1px solid transparent;
      }
    }
  }

  .header-row {
    .column {
      font-weight: 500;
      color: var(--f-secondary-text);
    }
  }

  .row {
    .column {
      &:first-child {
        border-right: 1px solid var(--f-secondary-text);
      }

      &.column-id {
        justify-content: center;
      }
    }
  }

  .column-id {
    --column-width: 55px;
  }
  .column-stage {
    --column-width: 145px;
  }
  .column-date {
    --column-width: 170px;
  }
  .column-home,
  .mat-column-away {
    --column-width: 135px;
  }
  .column-score {
    --column-width: 130px;

    position: relative;
    z-index: 20;
    padding: 0px 12px;

    .pair {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        width: 40px;
        font-size: 26px;
        margin: 2px;
        border: 1px solid var(--p100);
        border-radius: 4px;
        color: var(--p500);
        outline: transparent;
      }

      input:focus {
        border: 1px solid var(--p500);
      }
    }
  }
}
