:host {
    display: flex;
    flex-direction: column;
}

img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    border: 4px solid var(--p900);
    margin-bottom: 20px;
}

.ver {
    flex: 1;
    color: var(--p500);
    font-size: 0.8em;
}

