
mat-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--p700);
    color: var(--pc700);
    border-radius: 4px 4px 0px 0px;
    padding: 8px;
    border-bottom: 1px solid var(--p200);
    font-size: 18px;
}

h2 {
    margin-left: 4px;
}

mat-card {
    display: flex;
    flex-direction: column;
    margin: 6px;
    padding: 0px;
    padding-bottom: 10px;
}

mat-card-content {
    display: flex;
    align-self: center;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: 340px;
}

mat-card-content>* {
    margin: 2px;
}

button {
    position: relative;
    display: flex;
    top: 10px;
}

button.selected {
    background: var(--a200);
}

app-on-off-pending-button {
    position: relative;
    top: 10px;
    font-weight: 500;
    --padding: 6px 12px;
    --v-offset: -12px;
    --selected-bg: var(--a200);
    --selected-border-color: var(--a400);
}

