<ng-container *ngIf="currentUser$ | async as user">
  <h1>{{ user.displayName }} Profile</h1>
  <div class="form">
    <div class="photo-host">
      <img altImage [src]="user.photoUrl" />
      <button
        mat-icon-button
        color="primary"
        [disabled]="photoBusy"
        title="Modify Photo Url"
        (click)="editPhotoUrl()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <div class="spinner-host">
        <app-spinner *ngIf="photoBusy"></app-spinner>
      </div>
    </div>

    <div class="display-name">
      {{ user.displayName }}
      <button
        mat-icon-button
        color="primary"
        [disabled]="displayNameBusy"
        title="Modify Name"
        (click)="editDisplayName()"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <div class="spinner-host">
        <app-spinner *ngIf="displayNameBusy"></app-spinner>
      </div>
    </div>
    <div class="email">{{ user.email }}</div>

    <div class="admin" *ngIf="admin$ | async">Admin</div>
    <div class="admin" *ngIf="super$ | async">Super</div>

    <ng-container *ngIf="userGroups$ | async as groups">
      <div class="groups">
        <div class="title">Groups</div>
        <ng-container *ngIf="groups.length > 0">
          <div class="group-item" *ngFor="let group of groups">
            <mat-icon>group</mat-icon>
            {{ group.displayName }}
          </div>
        </ng-container>
        <ng-container *ngIf="groups.length === 0">
          <div class="no-groups">No Groups</div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
