<ng-container *ngIf="!(hasGroups$ | async)">
  <h1>Welcome to "You Betcha!"</h1>
  <app-content>
    <h3>You are not in any group</h3>
    <p>
      In order to play, you need to join at least one group. <mat-icon>group</mat-icon> Please contact one of the
      <i>group admins</i> and ask them to send <mat-icon>send</mat-icon> you an
      <strong>Invite Link</strong>
    </p>
    <p>
      In the <b>Info Page <mat-icon>info</mat-icon></b> You can find information on:
    </p>
    <ul>
      <li>How to play the game?</li>
      <li>Scoring.</li>
      <li>How to use this app?</li>
      <li>A little bit about me :-)</li>
    </ul>
  </app-content>
</ng-container>

<ng-container *ngIf="hasGroups$ | async">
  <ng-container *ngIf="hasScores$ | async">
    <h1>
      Latest Bets
      <app-group-selector></app-group-selector>
    </h1>
    <ng-container *ngIf="(showInstallMessage$ | async)">
      <h3>Install application</h3>
      <p>This web site runs better when installed on your device. You will enjoy the following benefits</p>
      <ul>
        <li>An shortcut icon on your home screen</li>
        <li>avoid re-entering your username and password</li>
        <li>Faster loading time</li>
      </ul>
      <button class="install-button" mat-raised-button color="primary" (click)="installLocally()">Install Locally</button>
    </ng-container>  

    <div *ngFor="let score of scores$ | async">
      <mat-card>
        <mat-card-title
          >{{ score.stage }}:
          {{ score.date | date: "MMMM dd, HH:mm" }}</mat-card-title
        >
        <mat-card-content>
          <div class="match-details">
            <app-country [name]="score.home"></app-country>
            <div class="match-final-score">
              <div>{{ score.points }} points</div>
              <div class="final-score">
                {{ score.homeScore }} : {{ score.awayScore }}
              </div>
              <div class="details">
                {{ score.correctGuess }}
              </div>
            </div>
            <app-country [name]="score.away"></app-country>
          </div>
          <div class="user-guesses">
            <div class="user" *ngFor="let userGuess of score.userScores">
              <div class="user-name">{{ userGuess.displayName }}</div>
              <div
                class="user-guess"
                [class.correct]="score.hasScore && userGuess.isCorrect"
                [class.wrong]="score.hasScore && !userGuess.isCorrect"
              >
                <ng-container *ngIf="score.hasScore">
                  <mat-icon *ngIf="userGuess.isCorrect">check</mat-icon>
                  <mat-icon *ngIf="!userGuess.isCorrect">clear</mat-icon>
                </ng-container>
                {{ userGuess.guess ?? "---" }}
  
                <ng-container *ngIf="userGuess.isCorrect">
                  ({{ userGuess.points }} points
                  <ng-container *ngIf="userGuess.isSolo">
                    <mat-icon color="accent"
                      >new_releases</mat-icon
                    > </ng-container
                  >)
                </ng-container>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  
  <ng-container *ngIf="!(hasScores$ | async)">
    <h1>Welcome to "You Betcha!"</h1> 
    <app-content>
      <ng-container *ngIf="(showInstallMessage$ | async)">
        <h3>Install application</h3>
        <p>This web site runs better when installed on your device. You will enjoy the following benefits</p>
        <ul>
          <li>An shortcut icon on your home screen</li>
          <li>avoid re-entering your username and password</li>
          <li>Faster loading time</li>
        </ul>
        <button class="install-button" mat-raised-button color="primary" (click)="installLocally()">Install Locally</button>
      </ng-container>  

      <h2>The game will start soon</h2>      
      <h3>Good luck, and Enjoy :-)</h3>
  
    </app-content> 
  </ng-container>
  
</ng-container>

