:host {
    display: flex;
    flex-direction: column;

    app-content {
        width: 100%;
    }
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes countdown {
    0% {background-color: var(--w50);}    
    50% {background-color: var(--w200);}
    100% {background-color: var(--w50);}    
}

.time-remaining {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--w200);
    background-color: var(--w50);
    border-radius: 4px;
    position: relative;
    top: -4px;
    left: -4px;
    animation: countdown 4s infinite;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 4px;
        padding: 2px;

        .value {
            font-size: 0.8em;
            line-height: 1;
            color: var(--w700);
        }
        .label {
            font-size: 0.5em;
            line-height: 1;
            color: var(--pc50);
        }
    }
}

.match {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    margin: 10px;

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
        flex: 1;

        .stage {
            color: var(--p600);
            font-size: 1em;
            font-weight: bold;

            .points {
                color: var(--a700);
            }
        }

        .time {
            color: var(--p900);
            font-size: 1em;        
        }

        .guess {
            font-size: 1.1em;
            color: var(--s800);

            &.no-guess {
                color: var(--w800);
                font-weight: bold;
            }
        }

    }
}