:host {
    display: flex;
    flex-direction: column;

    app-content {
        width: 100%;
    }
}


.match {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    margin: 10px;

    .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 20px;
        flex: 1;

        .stage {
            color: var(--p600);
            font-size: 1em;
            font-weight: bold;
        }

        .time {
            color: var(--p900);
            font-size: 1em;        
        }

        .guess {
            font-size: 1.1em;
            color: var(--s800);

            &.no-guess {
                color: var(--w800);
                font-weight: bold;
            }
        }

    }
}