:host {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

div.wait {
    align-self: center;
    margin: 20px;
}

h1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

app-recent-scores {
    width: calc(100% - 16px);
    max-width: 450px;
}



