<ng-container *ngIf="!(hasGroups$ | async)">
  <h1>Welcome to "You Betcha!"</h1>
  <app-content>
    <h3>You are not in any group</h3>
    <p>
      In order to play, you need to join at least one group. <mat-icon>group</mat-icon> Please contact one of the
      <i>group admins</i> and ask them to send <mat-icon>send</mat-icon> you an
      <strong>Invite Link</strong>
    </p>
    <p>
      The <a routerLink="/info"><b>Info Page <mat-icon>info</mat-icon></b></a> will tell you more...
    </p>
  </app-content>
</ng-container>

<ng-container *ngIf="hasGroups$ | async">
  <ng-container *ngIf="hasScores$ | async">
    <h1>
      Latest Bets
      <app-group-selector></app-group-selector>
    </h1>
    <app-pwa-message></app-pwa-message>

    <div *ngFor="let score of scores$ | async">
      <mat-card>
        <mat-card-title
          >{{ score.stage }}:
          {{ score.date | date: "MMMM dd, HH:mm" }}</mat-card-title
        >
        <mat-card-content>
          <div class="match-details">
            <app-country [name]="score.home"></app-country>
            <div class="match-final-score">
              <div>{{ score.points }} points</div>
              <div class="final-score">
                {{ score.homeScore }} : {{ score.awayScore }}
              </div>
              <div class="details">
                {{ score.correctGuess }}
              </div>
            </div>
            <app-country [name]="score.away"></app-country>
          </div>
          <div class="user-guesses">
            <div class="user" *ngFor="let userGuess of score.userScores">
              <div class="user-name">{{ userGuess.displayName }}</div>
              <div
                class="user-guess"
                [class.correct]="score.hasScore && userGuess.isCorrect"
                [class.wrong]="score.hasScore && !userGuess.isCorrect"
              >
                <ng-container *ngIf="score.hasScore">
                  <mat-icon *ngIf="userGuess.isCorrect">check</mat-icon>
                  <mat-icon *ngIf="!userGuess.isCorrect">clear</mat-icon>
                </ng-container>
                {{ userGuess.guess ?? "---" }}
  
                <ng-container *ngIf="userGuess.isCorrect">
                  ({{ userGuess.points }} points
                  <ng-container *ngIf="userGuess.isSolo">
                    <mat-icon color="accent"
                      >new_releases</mat-icon
                    > </ng-container
                  >)
                </ng-container>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  
  <ng-container *ngIf="!(hasScores$ | async)">
    <h1>Welcome to "You Betcha!"</h1> 
    <app-pwa-message #pwa></app-pwa-message>
    <div class="bg" [class.pwa]="pwa.showingMessage"><div>Scores will be presented here</div></div>
  </ng-container>
  
</ng-container>

